@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a ManejaPresupuesto</h1>    
    <p>
        Este sistema ha sido diseñado para ayudarte a gestionar tus finanzas personales de forma eficiente y segura.
        Aquí podrás registrar tus transacciones, organizar tus cuentas, clasificar tus gastos por categorías y
        visualizar reportes que te permitirán tomar decisiones informadas sobre tu presupuesto.
    </p>
    <p>
        ManejaPresupuesto es una herramienta intuitiva, desarrollada como parte de un proyecto del curso de Programación II del Segundo Curso de SGTIC,
        con el objetivo de fomentar el control financiero y la planificación económica. ¡Comienza hoy a tomar el control de tus finanzas!
    </p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
