
@{
    ViewData["Title"] = "Password actualizado";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<p> 
    Password actualizado. Haz <a asp-action="login">click aquí para loguearte</a>.    
</p>
