#reordenable tr {
    cursor: move;
}

.contenedor-totales {
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    text-align: center;
}
.franja-celeste {
    background-color: red !important;
    font-size: 26px;
    text-align: center;
    padding: 12px;
    border-bottom: 2px solid #99c2e6;
    box-shadow 0 2px 4px rgba(0,0,0,0.1);
}

.activo {
    color: blue !important;
}

.pasivo {
    color: red !important;
}

.text-center {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
/*
body {
    background-image: url('../img/fondo-presupuesto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /*color: #fff;*/ /* Ajusta según el contraste del fondo */
}

